.input{
    width: 20%;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2cm;
    font-size: large;
}

.spasi {
    margin: 10px;
  }

.tombol{
    font-size: large;
    font-weight: bold;
    border-radius: 10%;
}

.text{
    font-size: 20px;
    font-family: arial;
    font-weight: 600;
}